@model CartDto

<form method="post" asp-action="Checkout">
    <input asp-for="CartHeader.UserId" hidden />
    <input asp-for="CartHeader.CartHeaderId" hidden />
    <input asp-for="CartHeader.CouponCode" hidden />
    <input asp-for="CartHeader.Discount" hidden />
    <input asp-for="CartHeader.CartTotal" hidden />

    <div class="border mt-2 p-4 rounded shadow-sm">
        <div class="container row">
            <div class="col-md-7 col-12">
                <h3 class="text-primary mb-2">Order Summary</h3>
            </div>
            <div class="col-md-5 col-12 text-end">
                <a asp-action="CartIndex" class="btn btn-outline-warning">Back to Cart</a>
            </div>
            <hr class="my-4" />
            <div class="col-md-7 col-12">
                <div class="row">
                    <div class="col-12 mb-3">
                        <input asp-for="CartHeader.Name" placeholder="Full name..." class="form-control" />
                        <span asp-validation-for="CartHeader.Name" class="text-danger"></span>
                    </div>
                    <div class="col-12 mb-3">
                        <input asp-for="CartHeader.Email" placeholder="Email..." class="form-control" />
                        <span asp-validation-for="CartHeader.Email" class="text-danger"></span>
                    </div>
                    <div class="col-12 mb-3">
                        <input asp-for="CartHeader.Phone" placeholder="Phone number..." class="form-control" />
                        <span asp-validation-for="CartHeader.Phone" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <p class="text-muted">
                            <i class="bi bi-clock"></i> Order will be ready in 30 minutes after placing the order.
                            If you place the order when the restaurant is closed, it will be ready the next day.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-12">
                <div class="card shadow-sm mt-2">
                    <div class="card-body">
                        <h5 class="text-muted mb-3">Items in Cart</h5>
                        <div class="d-none d-lg-block">
                            <div class="row text-muted">
                                <div class="col-6">Product Details</div>
                                <div class="col-3">Price</div>
                                <div class="col-3">Count</div>
                            </div>
                        </div>
                        <hr />
                        @foreach (var cartObj in Model.CartDetails)

                        {
                            <div class="row align-items-center">
                                <div class="col-6">
                                    <span class="text-dark fw-bold">@cartObj.Product.Name</span>
                                </div>
                                <div class="col-3">
                                    <span class="text-dark">@cartObj.Product.Price.ToString("c")</span>
                                </div>
                                <div class="col-3">
                                    <span class="text-dark">@cartObj.Count</span>
                                </div>
                            </div>
                            <hr />
                        }
                        <div class="row">
                            <div class="col-12 text-center">
                                <h5 class="text-danger">
                                    Order Total: @Model.CartHeader.CartTotal.ToString("c")
                                </h5>
                                @if (Model.CartHeader.Discount > 0)

                                {
                                    <h6 class="text-success">Discount: @Model.CartHeader.Discount.ToString("c")</h6>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-success form-control">
                                    <i class="bi bi-check-circle"></i> Place Order
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
