@model IEnumerable<ProductDto>
@{
    var categories = ViewBag.Categories as List<CategoryDto>;
    var selectedCategoryId = ViewContext.HttpContext.Request.Query["categoryId"].ToString();
}

<form method="get" asp-action="Index">
    <div class="container my-3">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <input type="text" name="searchTerm" class="form-control" placeholder="Search products..."
                           value="@ViewContext.HttpContext.Request.Query["searchTerm"]" />
                    <select name="categoryId" class="form-select mx-2">
                        <option value="">All Categories</option>
                        @if (categories != null)
                        {
                            foreach (var category in categories)
                            {
                                if (selectedCategoryId == category.CategoryId.ToString())
                                {
                                    <option value="@category.CategoryId" selected>@category.Name</option>
                                }
                                else
                                {
                                    <option value="@category.CategoryId">@category.Name</option>
                                }
                            }
                        }
                    </select>
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="container row">
    @foreach (var product in Model)
    {
        <div class="col-12 col-md-6 col-lg-4">
            <div class="p-0 my-3 border rounded shadow-sm">
                <div class="card h-100">
                    <h3 class="card-title text-dark text-center py-2 bg-light">@product.Name</h3>
                    <img src="@product.ImageUrl" class="card-img-top" alt="@product.Name">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center py-2">
                            <span class="text-danger fw-bold" style="font-size:1.25rem;">@string.Format("{0:c}", product.Price)</span>
                            <span class="badge bg-warning text-white p-2">@product.Category.Name</span>
                        </div>
                        <p class="card-text text-muted">@Html.Raw(product.Description)</p>
                        <div class="row">
                            <div class="col">
                                <a asp-action="ProductDetails" asp-route-productId="@product.ProductId"
                                   class="btn btn-outline-primary form-control">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
