@model ProductDto

<form method="post">
    <input asp-for="ProductId" hidden />
    <div class="pt-4">
        <div class="card container border shadow-sm">
            <div class="card-header bg-light text-dark row">
                <div class="col-12 col-md-6">
                    <h1 class="text-primary">@Model.Name</h1>
                </div>
                <div class="col-12 col-md-6 text-end">
                    <h1 class="text-danger">@string.Format("{0:c}", Model.Price)</h1>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-4 p-1 text-center">
                            <img src="@Model.ImageUrl" alt="@Model.Name" class="rounded border" width="100%" />
                        </div>
                        <div class="col-12 col-lg-8">
                            <div class="row px-3">
                                <div class="col-12">
                                    <span class="badge bg-warning text-white p-3 border">@Model.Category.Name</span>
                                    <p class="text-muted pt-3">
                                        @Html.Raw(Model.Description.Replace("\n", "<br/>"))
                                    </p>
                                </div>
                            </div>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="row mx-0">
                                    <input asp-for="Count" class="form-control" placeholder="Enter quantity" />
                                    <span asp-validation-for="Count" class="text-danger"></span>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer row bg-light">
                <div class="col-12 col-md-6 pb-1">
                    <a asp-action="Index" class="btn btn-outline-primary form-control">Back to List</a>
                </div>
                <div class="col-12 col-md-6">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <button type="submit" class="btn btn-success form-control">Add to Cart</button>
                    }
                    else
                    {
                        <a asp-action="Login" asp-controller="Auth" class="btn btn-outline-primary form-control">Login to Add to Cart</a>
                    }
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
